* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-main-1: #1A51A2;
    --background-main-2: #1581ca;
    --background-main-3: #eff3ff;
    --background-main-4: #fcf8f8;
    --background-main-5: #00000048;
    --background-main-6: #f2f6f9;


    --color-main-1: #1250DC;
    --color-main-2: #3498db;
    --color-main-3: #08377c;

    --border-radius-5: 5px;
    --border-radius-10: 10px;
    --border-radius-15: 15px;
    --border-radius-20: 20px;
    --border-radius-50: 50%;

    --boxshadow-1: rgba(50, 52, 54, 0.4) 0px 2px 4px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --boxshadow-2: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    --font-family: 'Arial', sans-serif;
}

/*--------------------------------------------------------------------*/
.bg_main_home {
    background-color: var(--background-main-4);
}

.bg_home {
    background-color: var(--background-main-6);
}

/*----------------------- START HEADER ------------------------------*/
#header {}

.header {
    background-color: var(--background-main-1);
    z-index: 11;
}

.header_top_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-main-1);
}

.header_top_left {
    display: flex;
    align-items: center;
}

.header_top_bar {
    font-size: 25px;
}

.header_top_img {
    width: 120px;
    height: 60px;
}

.header_top_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_top_right {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.header_top_bell, .header_top_cart_icon {
    background-color: #fff;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: var(--border-radius-50);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.header_top_cart {
    position: relative;
}

.header_top_cart_quantity {
    position: absolute;
    right: -6px;
    top: -8px;
    background-color: red;
    color: #fff;
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.header_search {
    position: relative;
    padding: 0px 0 15px 0;
}

.header_search .header_search_magnifying {
    position: absolute;
    left: 15px;
    top: 38%;
    transform: translateY(-50%);
    color: var(--color-main-1);
    pointer-events: none;
}

.header_search_input {
    width: 100%;
    outline: none;
    border: none;
    padding: 8px 38px;
    border-radius: var(--border-radius-15);
}

.header_fixed {
    position: relative;
    display: none;
    transition: top 0.3s ease, background-color 0.3s ease;

}

.header_fixed.fixed {
    background-color: var(--background-main-1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 15px 15px 0px 15px;

}



.header_search_mobile_input {
    width: 303px;
    outline: none;
    border: none;
    padding: 8px 38px;
    border-radius: var(--border-radius-15);
}

/*----------------------- END HEADER ------------------------------*/


/*----------------------- START MENU CATEGORY BAR------------------------------*/

.header_overlay {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 19;
    animation: fadeIn 0.2s linear;
}

.header_bar_category {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 20;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.header_bar_checkbox:checked~.header_overlay {
    display: block;
}

.header_bar_checkbox:checked~.header_bar_category {
    transform: translateX(0%);
}

.header_close {
    cursor: pointer;
    font-size: 25px;
    text-align: right;
    padding-top: 18px;
    font-weight: 400;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header_accordion_main {
    overflow-y: auto;
}

.header_category_top {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.header_category_image {
    width: 180px;
    height: 80px;
}

.header_category_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion-item {
    border: none;
}

.accordion-button {
    border: none;
    outline: none;
    box-shadow: none;
    transition: none;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #fff;
    color: var(--color-main-3);
    font-weight: 650;
}

.accordion-body {
    border: none;
}


.accordion_category_ul {
    margin: 0 0;
    padding: 0 0;
}

.accordion_category_ul li {
    list-style: none;
    background-color: var(--background-main-3);
    transition: background-color 0.3s ease;
    margin: 2px 0;
    padding: 10px 10px;

}

.accordion_category_ul li a {
    text-decoration: none;
    color: #000;
}

.accordion_category_ul li:first-child {
    border-top-left-radius: var(--border-radius-5);
    border-top-right-radius: var(--border-radius-5);
}

.accordion_category_ul li:last-child {
    border-bottom-left-radius: var(--border-radius-5);
    border-bottom-right-radius: var(--border-radius-5);
}

.header_bar_user {
    background: linear-gradient(135deg, #154285, #3094d7);
    /* Nền gradient */
    width: 100%;
    padding: 8px 0px 15px 10px;
}

.header_bar_user span {
    font-size: 12px;
    color: #fff;
}

.header_bar_btn_in {
    border: none;
    outline: none;
    padding: 4px 10px;
    border-radius: var(--border-radius-15);
    font-size: 12px;
}

.header_bar_btn_up {
    border: none;
    outline: none;
    padding: 4px 20px;
    border-radius: var(--border-radius-15);
    background-color: var(--background-main-1);
    font-size: 12px;
}

.header_bar_btn_in a {
    text-decoration: none;
    color: var(--color-main-1);
}

.header_bar_btn_up a {
    text-decoration: none;
    color: #fff;
}

.header_category_footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 90px;
    padding: 0 20px;
}

.header_category_footer_btn {
    border: none;
    outline: none;
    margin-top: 15px;
    padding: 5px 20px;
    border-radius: var(--border-radius-15);
    background-color: var(--background-main-3);

}

.header_category_footer_btn a {
    text-decoration: none;
    color: var(--color-main-1);
    font-weight: 500;

}

.header_category_footer span {
    font-size: 12px;
    padding-top: 3px;
    font-weight: 500;
    color: var(--color-main-1);

}

/*----------------------- END MENU CATEGORY BAR ------------------------------*/


/*----------------------- START FOOTER------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: var(--boxshadow-2);
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 11;
}

.footer_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 20px 0px;
}

.footer_main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_main_content a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_main_content span {
    font-size: 12px;
}

.footer_content_icon {
    font-size: 20px;
    text-align: center;
}

.footer_main_content_label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_content_image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.footer_content_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_main_content_cart {
    position: relative;
}

.footer_main_content_quantity {
    position: absolute;
    right: 0px;
    top: -10px;
    background-color: red;
    color: #fff;
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.footer_content_image {
    width: 30px;
    height: 30px;
}

.footer_content_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_content_image_center_border {
    width: 60px;
    height: 60px;
    padding: 8px 8px;
    background-color: var(--background-main-1);
    border-radius: 50%;
    margin-top: -30px;
    padding: 8px 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer_content_image_center {
    width: 50px;
    height: 46px;
    background-color: #fff;
    border-radius: var(--border-radius-50);
    padding: 8px 8px;
    /* margin-top: -30px;
    position: relative; */
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.footer_content_image_center img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-50);
    object-fit: cover;
}

.footer_content_image_center i {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-50);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.footer_main_content_three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0px;
}

.footer_main_content_span {
    color: #000;
    font-size: 12px;
    text-align: center;
}



.footer_bar_category {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateY(100%);
    padding-top: 120px;
}

.footer_bar_category_header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: var(--background-main-1);
}

.footer_bar_category_content {
    padding: 20px;
    color: white;
}

.footer_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 9;
}

.footer_bar_checkbox:checked~.footer_overlay {
    display: block;
}

.footer_bar_checkbox:checked~.footer_bar_category {
    transform: translateY(0%);
}



.footer_bar_account {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: transform 0.3s ease;
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateY(100%);
    padding-top: 120px;
}

.footer_bar_checkbox:checked~.footer_overlay {
    display: block;
}

.footer_bar_checkbox:checked~.footer_bar_account {
    transform: translateY(0%);
}




.footer_bar_account_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.footer_account_main_one {
    padding-top: 20px;
}

.footer_account_main_two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.footer_account_main_two h2 {
    font-size: 28px;
    font-weight: 600;
    color: #48494a;
}

.footer_account_main_two_h2 {
    color: #1A51A2;
    font-size: 33px;
}

.footer_account_main_one_image {
    width: 200px;
    height: auto;
}

.footer_account_main_one_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer_account_main_three {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding-top: 10px;

}

.footer_account_login {
    text-decoration: none;
    background-color: var(--background-main-3);
    color: var(--background-main-2);
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 15px;
    font-weight: 600;

}

.footer_account_register {
    text-decoration: none;
    background-color: var(--background-main-1);
    color: #fff;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 15px;
    font-weight: 600;

}

.footer_account_main_four_image {
    height: 250px;
    width: 250px;
    padding-top: 10px;
}

.footer_account_main_four_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*----------------------- END FOOTER------------------------------*/


/*----------------------- START BANNER------------------------------*/
.banner_image {
    width: 100%;
    height: 100%;
}

.banner_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------------- END  BANNER------------------------------*/


/*----------------------- START CATEGORY------------------------------*/

.category_home {
    background-color: #fff;
    padding: 15px 0;
}

.category_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category_box a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.category_box span {
    width: 70px;
    font-size: 12px;
    padding-top: 4px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.category_box_image {
    width: 65px;
    height: 65px;
}

.category_box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------------- END  CATEGORY------------------------------*/


/*----------------------- START PRODUCT BOX------------------------------*/
.category_product_section {
    padding-top: 20px;
    padding-bottom: 130px;
    background-color: var(--background-main-6);
}

.product_outstanding {
    margin-top: 10px;
}

.product_box {
    background-color: #fff;
    position: relative;
    border-radius: var(--border-radius-5);

}

.product_main_image {
    width: 100%;
    height: 140px;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.product_main_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms;
    text-align: center;
}

.product_box:hover .product_main_image img {
    transform: scale(1.3);
}

.product_main_content {
    padding: 0 6px;
}

.product_main_content_height {
    height: 160px;
}

.product_main_content a {
    text-decoration: none;
    color: #000;
}

.product_main_content a span:hover {
    color: var(--color-main-1);
}

.product_main_content span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    padding-top: 12px;
    height: 55px;
}

.product_main_content_btn {
    outline: none;
    border: none;
    background-color: var(--background-main-1);
    color: #fff;
    border-radius: var(--border-radius-10);
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 3px 0 5px 0;
    font-size: 14px;
    margin-bottom: 12px;
}

.title_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_product h2 {
    font-size: 20px;
    padding: 5px 0 0px 0;
    font-weight: 500;
}

.title_product span a {
    text-decoration: none;
    color: var(--color-main-2);
    font-size: 14px;

}


/*----------------------- END  PRODUCT BOX------------------------------*/


/*----------------------- START TABS------------------------------*/
.nav-tabs {
    border: none;
    padding-top: 12px;
}

.nav-tabs .nav-item .nav-link {
    font-size: 12px;
    padding: 0 8px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 2px;

}

.nav-tabs .nav-item .nav-link.active {
    border: 1px solid #005288;
    background-color: #fff;
    color: #005288;
}

.nav-tabs .nav-item .nav-link:not(.active) {
    background-color: #f0f0f0;
    color: #050505;
}

.nav-tabs .nav-item {
    border-bottom: none;
}

.tab-content {
    border: none;
}

.tab-pane {
    border: none;
}

.tab-pane span {
    text-align: left;
    padding: 0 8px;
    font-size: 15px;
    font-weight: 700;
    padding-top: 12px;
    color: var(--color-main-1);
}

/*----------------------- END  TABS------------------------------*/


/*----------------------- START ------------------------------*/
.modal_product {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    z-index: 18;
}

.modal_product.show {
    display: block;
    transform: translateY(0);
}

.modal_product_box {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

.overlay_btn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 17;
    display: none;
}

.overlay_btn.show {
    display: block;
}

.overlay_detail_btn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 17;
    display: none;
}

.overlay_detail_btn.show {
    display: block;
}

.modal_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
}

.modal_title .modal_title_two {
    font-size: 17px;
    font-weight: 600;
}

.modal_title .modal_title_three {
    font-size: 20px;
    font-weight: 600;
}

.modal_product_box_one {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.modal_product_box_image {
    width: 100px;
    height: 100px;
}

.modal_product_box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.modal_product_box_name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 500;
}

.modal_product_box_price {
    color: #000000;
}

.modal_product_box_two {
    padding-top: 10px;
}

.modal_product_box_btn {
    outline: none;
    border: none;
    border-radius: var(--border-radius-15);
    padding: 5px 15px;
    background-color: var(--background-main-6);
    margin-right: 5px;
}

.modal_product_box_btn:focus {
    border: 2px solid #005288;
    background-color: #005288;
    color: #fff;
}

.modal_product_box_three {
    padding-top: 10px;
}

.btn_model_box {
    padding-top: 10px;
}

.modal_product_box_four {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.modal_product_box_four_price {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.modal_product_box_five {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}

.button_model_cart {
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: var(--border-radius-20);
    width: 100%;
    background-color: var(--background-main-3);
    color: var(--color-main-3);
    font-weight: 500;
    font-size: 16px;
}

.button_model_buy {
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: var(--border-radius-20);
    width: 100%;
    background-color: var(--background-main-1);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.quantity_model {
    width: 30px;
    text-align: center;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
}

.btn_model {
    width: 30px;
    height: 30px;
    background-color: var(--background-main-1);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_model:hover {
    background-color: var(--background-main-1);
}

.decrease {
    border-radius: 10px 0 0 10px;
    /* Cong phía trên */
}

.increase {
    border-radius: 0 10px 10px 0;
    /* Cong phía trên */
}

/*----------------------- END  ------------------------------*/


/*----------------------- START FOOTER INTRODUCE------------------------------*/

.footer_introduce {
    margin-top: 20px;
    background-color: #fff;
}

.footer_introduce_main {
    padding: 20px 0px 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer_introduce_main ul li a {
    text-decoration: none;
    color: var(--color-main-2);
}

.footer_introduce_main_image {
    max-width: 120px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_introduce_main_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_introduce_main_image_two {
    width: 150px;
    height: 150px;
}

.footer_introduce_main_image_two img {
    width: 100%;
    height: 100%;
}

/*----------------------- END FOOTER INTRODUCE ------------------------------*/

/*----------------------- START DETAIL------------------------------*/
.header_detail {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 55px;
    top: 0;
    z-index: 2;
}

.header_detail_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;
}

.header_detail_top_right i {
    font-size: 20px;
    padding: 0px 10px;
}

.header_detail_top_right_cart {
    position: relative;
}

.header_detail_top_right_quantity {
    position: absolute;
    right: -4px;
    top: -16px;
    background-color: red;
    color: #fff;
    width: 15px;
    height: 15px;
    padding: 9px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.detail_image {
    width: 100%;
    height: 320px;
    margin-top: 50px;
}

.detail_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detail_main {
    background-color: var(--background-main-4);
    padding: 0 0 20px 0;
}

/* Màu sắc dấu tick */
.detail_content {
    padding: 10px 0px 10px 0px;
    background-color: #ffffff;
}

.detail_brand span a {
    text-decoration: none;
    color: var(--color-main-1);
    font-weight: 500;
}

.detail_title h2 {
    font-size: 18px;
    line-height: 25px;
    padding-top: 5px;
}

.detail_id span {
    color: var(--color-main-1);
    font-weight: 500;
    padding-top: 5px;
}

.detail_infor {
    display: flex;
    justify-content: start;
    column-gap: 15px;
    padding-top: 5px;
}

.detail_infor span {
    color: var(--color-main-1);
    font-weight: 500;
}

.detail_price {
    padding-top: 15px;
}

.detail_price span {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-main-1);

}

.detail_btn {
    outline: none;
    border: none;
    border-radius: var(--border-radius-15);
    padding: 5px 15px;
    margin: 0 2px;
    border: 2px solid #005288;
    background-color: #fff;
    color: var(--color-main-1);
    transition: background-color 0.3s ease;
    position: relative;
}

.detail_btn:focus {
    background-color: var(--background-main-1);
    color: #ffffff;
}



.detail_information {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px 0 10px 0;
}

.detail_information_title h2 {
    font-size: 18px;
}

.detail_information_content h4 {
    font-size: 15px;
    margin: 0 0 0px 0;
}

.detail_information_content span {
    font-size: 14px;
}

.detail_information_all {
    text-align: center;
    padding-top: 10px;
}

.detail_information_all a {
    font-size: 15px;
    text-decoration: none;
    color: var(--color-main-1);
}

.detail_information_all i {
    padding-left: 8px;
}

.detail_relate {
    margin-top: 20px;
    padding: 20px 0px 80px 0;
}

.button_detail_cart {
    outline: none;
    border: none;
    height: 45px;
    border-radius: var(--border-radius-20);
    width: 100%;
    background-color: var(--background-main-3);
    color: var(--color-main-3);
    font-weight: 500;
    font-size: 16px;
}

.button_detail_buy {
    outline: none;
    border: none;
    height: 45px;
    border-radius: var(--border-radius-20);
    width: 100%;
    background-color: var(--background-main-1);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.footer_detail {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: var(--boxshadow-2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 8;
    border: 1px solid var(--background-main-1);
}

.footer_detail_main {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding: 15px 0 20px 0;
}

.footer_detail_main_image {
    max-width: 60px;
    width: 100%;
    height: 60px;
    margin-top: -7px;
}

.footer_detail_main_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    border-radius: var(--border-radius-50);

}

/*----------------------- END  DETAIL------------------------------*/

/*----------------------- START CATEGORY------------------------------*/
.header_category {
    background-color: var(--background-main-1);
    padding: 15px 0 0 0;
}

.category_main {
    width: 100%;
    display: grid;
    grid-template-columns: 90px 1fr;
    column-gap: 10px;
}

.category_left_active {
    color: var(--color-main-1);
    font-weight: 600;
}

.category_left {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--background-main-6);
}

.category_left ul {
    margin: 0 0;
    padding: 0 0;
}

.category_left ul li {
    width: 90px;
    height: 80px;
    padding: 50px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #7bc9f1;
}

.category_left ul li span {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}

.category_left_sub_ul li span {
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;**/
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}


.category_left_image {
    width: 35px;
    height: 35px;
}

.category_left_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category_right {
    width: 100%;
    background-color: var(--background-main-4);
}

.category_right_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category_right_content {}

.category_right_content_item {
    display: none;

}

.category_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.category_item a {
    text-decoration: none;
    color: #000;
}


.category_right_item_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 0px 0;
}



.category_right_item_image {
    width: 70px;
    height: 70px;

}

.category_right_item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category_right_item_span span {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    display: block;
    padding-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}

/*----------------------- END  CTEGORY------------------------------*/

/*----------------------- START MANUFACETURER ------------------------------*/
.manufacturer_info_logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manufacturer_info_image {
    width: 250px;
    height: 150px;
}

.manufacturer_info_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.manufacturer_list_box {
    background-color: #fff;
    display: grid;
    grid-template-columns: 90px 1fr;
    margin: 5px 0;
    padding: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 15px;
}

.manufacturer_list_box_image {
    width: 80px;
    height: 80px;
}

.manufacturer_list_box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manufacturer_list_box_title {
    text-decoration: none;
    color: var(--color-main-2);
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 88px;
}

.manufacturer_list_box_content span {
    margin: 0 0;
    padding: 0 0;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.manufacturer_list_box_content span p {
    height: 50px;
    width: 89px;
    margin: 0 0;
    padding: 0 0;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.manufacturer_list_box_btn {
    color: #fff;
    background-color: var(--background-main-1);
    font-size: 10px;
    font-weight: 400;
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: var(--border-radius-15);
}

.btn_manufac_more {
    outline: none;
    border: none;
    padding: 6px 20px;
    margin-top: 10px;
    border-radius: var(--border-radius-15);
    background-color: var(--background-main-1);
    color: #fff;
}

/*----------------------- END MANUFACETURER ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/

/*----------------------- START ------------------------------*/


/*----------------------- END  ------------------------------*/


/*----------------------- START ------------------------------*/
.swiper-container-cate {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.swiper-container-product {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.swiper-container-detail {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.swip_next {
    position: absolute;
    top: 45%;
    background-color: var(--background-main-5);
    color: #ffffff;
    border-radius: var(--border-radius-50);
    width: 35px;
    height: 35px;
}

.swip_next::after {
    font-size: 15px !important;
}

.swip_prev {
    position: absolute;
    top: 45%;
    background-color: var(--background-main-5);
    color: #ffffff;
    border-radius: var(--border-radius-50);
    width: 35px;
    height: 35px;
}

.swip_prev::after {
    font-size: 15px !important;
}

.custom-title {
    font-size: 1.1rem;
    text-align: center;
}

/*----------------------- END  ------------------------------*/