@use 'color' as *;
@use 'mixinStyle' as *;


.footer_home_mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 3px solid #ebebeb;
    z-index: 10;

    .footer_main_mobile {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;

        .footer_item_mobile {
            @include flexCenter();
            flex-direction: column;
            row-gap: 5px;

            .footer_image_mobile {
                width: 25px;
                height: 25px;

                img {
                    @include imageStyle();
                }
            }

            span {
                font-size: 14px;
            }
        }

    }
}