.header_home_mobile {
    background-color: #fee3f2;

    .header_item_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        i {
            font-size: 30px;
            color: #000000;
        }

        .header_logo_mobile {
            max-width: 120px;
            /* Logo sẽ không rộng hơn container */
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .header_search_mobile {
            position: relative;
            width: 100%;
            max-width: 350px;

            input {
                width: 100%;
                padding: 0 40px 0 10px;
                height: 40px;
                box-sizing: border-box;
                outline: none;
                border: 1px solid #ffffff;
                border-radius: 15px;
            }

            i {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                background-color: #fee3f2;
                color: #888;
                border-radius: 50%;
                padding: 7px;
                font-size: 16px;
                cursor: pointer;
            }
        }

        .header_cart_mobile {
            position: relative;
            text-decoration: none;
            padding-right: 5px;

            span {
                position: absolute;
                top: -15px;
                left: 16px;
                background-color: #ff0000;
                color: #fee3f2;
                padding: 5px;
                max-width: 25px;
                max-height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }
    }
}