@use 'color' as *;
@use 'mixinStyle' as *;

.overlay_btn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 17;
    display: none;

    &.show {
        display: block;
    }
}


.modal_product {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    z-index: 18;

    &.show {
        display: block;
        transform: translateY(0);
    }

    .modal_title {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid #e8e8e8;
        width: 100%;

        .modal_title_two {
            font-size: 17px;
            font-weight: 600;
        }

        .modal_title_three {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .modal_product_box {
        background-color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 20px;
        max-height: 80vh;
        overflow-y: auto;

        .modal_product_box_one {
            display: grid;
            grid-template-columns: 120px 1fr;

            .modal_product_box_image {
                width: 100px;
                height: 100px;

                img {
                    @include imageStyle();
                    border-radius: 5px;
                }
            }

            .modal_product_box_span {
                .modal_product_box_name {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 15px;
                    font-weight: 500;
                }

                .modal_product_box_price {
                    color: #000000;
                }
            }

        }

        .modal_product_box_two {
            padding-top: 10px;

            .btn_model_box {
                padding-top: 10px;

                .btn_model {
                    width: 30px;
                    height: 30px;
                    background-color: $background-color-2;
                    color: white;
                    font-size: 20px;
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: $background-color-2;
                    }
                }

                .quantity_model {
                    width: 30px;
                    text-align: center;
                    font-size: 15px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: #333;
                }

                .decrease {
                    border-radius: 10px 0 0 10px;
                }

                .increase {
                    border-radius: 0 10px 10px 0;
                }
            }
        }

        .modal_product_box_three {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;

            .modal_product_box_three_price {
                font-size: 18px;
                font-weight: 500;
                color: #000;
            }
        }

        .modal_product_box_four {
            padding: 20px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            column-gap: 15px;

            .button_model_cart {
                outline: none;
                border: none;
                padding: 10px 10px;
                border-radius: 15px;
                width: 100%;
                background-color: #eff3ff;
                color: var(--color-main-3);
                font-weight: 500;
                font-size: 16px;
            }

            .button_model_buy {
                outline: none;
                border: none;
                padding: 10px 10px;
                border-radius: 15px;
                width: 100%;
                background-color: $background-color-2;
                color: #fff;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}